.container #name {
    font-size: 80pt;
}

.container h2 {
    font-size: 50pt;
    color: grey;
}

#dev-description {
    font-size: 20pt;
}

.parallax-section {
    height: 500px; 
    padding: 50px 0; 
  }
  
  .image-container {
    height: 800px; 
    padding: 50px 0; 
  }
  
  .parallax-content {
    text-align: center;
  }

#explore-projects {
    font-size: 50pt;
}

#arrows {
    width: 100px;
}