.container #name {
    font-size: 80pt;
}

.container h2 {
    font-size: 50pt;
    color: grey;
}

#dev-description {
    font-size: 20pt;
}

.intro {
    margin-top: 50px;
}

section {
    display: grid;
    place-items: center;
    align-content: start;
    min-height: 80vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.explore-group {
}

#explore-projects {
    font-size: 50pt;
}


#arrows {
    width: 100px;
}